body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.under-construction {
    margin-top: 10%;
    font-size: 72px;
    margin-bottom: 50px;
    position: relative;
}

.meteor-container {
    position: relative;
    display: inline-block;
}

.meteor {
    width: 50px;
    height: 50px;
    background-image: url(./../img/meteorito.png);
    background-size: cover;
    position: absolute;
    animation: orbitMeteor linear infinite;
    transform-origin: center;
}

.meteor1 {
    top: 0;
    left: 0;
    animation-duration: 3s;
}

.meteor2 {
    bottom: 0;
    right: 0;
    animation-duration: 4s;
}

@keyframes orbitMeteor {
    0% {
        transform: rotate(0deg) translateX(135px) rotate(-360deg);
    }

    100% {
        transform: rotate(360deg) translateX(135px) rotate(-360deg);
    }
}